Django>=4.2,<5.0
gunicorn
whitenoise
psycopg2-binary  # If you're using PostgreSQL (recommended for production)
Pillow  # For handling images (if needed)
django-environ  # For managing environment variables
django-crispy-forms  # For better form styling (optional)


